<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap-5/bootstrap.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/multiverse/main.css" />
    <noscript><link rel="stylesheet" href="css/multiverse/noscript.css" /></noscript>

    <title>Home</title>
</head>
<body>
    <div>
        <%- include("partials/navbar") %>
    </div>
    <main>
        <div class="cover">
            <div class="shadow-text">
                cover
            </div>
        </div>

        <div class="intro">
            Introduction
        </div>
        <div>
            <div id="main">
                <article class="thumb">
                    <a href="images/sharks/GreatWhite2.jpg" class="image"><img src="images/sharks/GreatWhite2.jpg" alt="" /></a>
                    <h2>Great White Shark</h2>
                    <p>Carcharodon carcharias</p>
                </article>
                <article class="thumb">
                    <a href="images/sharks/BullShark.jpg" class="image"><img src="images/sharks/BullShark.jpg" alt="" /></a>
                    <h2>Bull Shark</h2>
                    <p>Carcharhinus leucas</p>
                </article>
                <article class="thumb">
                    <a href="images/sharks/TigerShark.jpg" class="image"><img src="images/sharks/TigerShark.jpg" alt="" /></a>
                    <h2>Tiger Shark</h2>
                    <p>Galeocerdo cuvier</p>
                </article>
                <article class="thumb">
                    <a href="images/sharks/OceanicWhitetip.jpg" class="image"><img src="images/sharks/OceanicWhitetip.jpg" alt="" /></a>
                    <h2>Oceanic Whitetip</h2>
                    <p>Carcharhinus longimanus</p>
                </article>
                <article class="thumb">
                    <a href="images/sharks/Greynurseshark.jpg" class="image"><img src="images/sharks/Greynurseshark.jpg" alt="" /></a>
                    <h2>Grey Nurse Shark</h2>
                    <p>Carcharias taurus</p>
                </article>
                <article class="thumb">
                    <a href="images/sharks/Leopardshark.jpg" class="image"><img src="images/sharks/Leopardshark.jpg" alt="" /></a>
                    <h2>Leopard Shark</h2>
                    <p>Triakis semifasciata</p>
                </article>
                <article class="thumb">
                    <a href="images/sharks/Baskingshark.jpg" class="image"><img src="images/sharks/Baskingshark.jpg" alt="" /></a>
                    <h2>Basking Shark</h2>
                    <p>Cetorhinus Maximus</p>
                </article>
                <article class="thumb">
                    <a href="images/sharks/Whaleshark.jpg" class="image"><img src="images/sharks/Whaleshark.jpg" alt="" /></a>
                    <h2>Whale Shark</h2>
                    <p>Rhincodon Typus</p>
                    <a>READ MORE</a>
                    
                </article>
            </div>
        </div>
        <div>
            <%- include("partials/footer") %>
        </div>
    </main>

    <!-- Scripts -->
    <script src="js/multiverse/jquery.min.js"></script>
    <script src="js/multiverse/jquery.poptrox.min.js"></script>
    <script src="js/multiverse/browser.min.js"></script>
    <script src="js/multiverse/breakpoints.min.js"></script>
    <script src="js/multiverse/util.js"></script>
    <script src="js/multiverse/main.js"></script>
</body>
</html>