body{
    height: 100vh;
    margin:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.target {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.shark-title {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    height: 500px;
    width: 100%; 
    color: white;
}

.create-structure {
    background-color: bisque;
    padding: 5rem 10rem;
}

container .right-bar{
    background-color: rgba(0, 0, 0, 0.3); /* Red color with 50% opacity */
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding:0.5rem;
    padding-right:5rem;
    
}

container .right-bar p {
    margin: 0;
    padding: 0;
    line-height: 1; /* Reduce line-height */
}

container .right-bar .title{
    color:aqua;
    font-weight: bolder;
    margin-bottom: 0.2rem;
}

container .right-bar .content{
    color:rgb(255, 255, 255);
    font-weight: bolder;
    margin-bottom: 2rem;
}


main {
    display: flex;
    flex-direction: column;
    flex:1;
    height: 100vh;
}

main .content {
    flex-grow: 1;
    background-color: rgb(252, 252, 252);
}

a {
    color: aqua !important;
}

a:hover {
    color: rgb(255, 255, 255) !important;
}

.shark {
    color: rgb(3, 255, 255) !important;
}

.cover {
    background-image: url('/images/sharks/GreatWhiteDiving.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    padding-bottom: 15rem;
}

.cover .shadow-text {
    color: white; /* Set the text color to white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add a shadow effect to the text */
    font-size: 3.5rem; /* Adjust the font size as needed */
}

@media (max-width: 600px){
    .cover .shadow-text{
        font-size: 40px;
    }
}

.intro {
    color:black;
    font-weight: bolder;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.thumb .lnk {
    color:red !important;
    font-size: 100rem;
}

.page-container {
    background-color: rgb(255, 255, 255);
    max-width: 2000px;
    width: 100%;
    height: 200px;
}

.shark-card{
    background-image: url('/images/sharks/GreatWhite.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: auto;
    width: 40%;
    height: 20rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

/* On smaller screens (below md = 768px), set width to 100% */
@media (max-width: 767.98px) {
    .shark-card {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.shark-card .card-title{
    flex:1;
    background-color: rgba(255, 255, 255, 0.5);
    color:black !important ;
    width:100%;
    height:10%;
    font-weight: bolder;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

.shark-card .card-middle{
    width:100%;
    height: 90%;
}

.shark-card .card-middle .card-button{
    width:100%;
    height:15%;
}

div.shark-card a {
    height: 100%;
    width:100%;
    text-decoration: none;
}



.article-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width:100%;
    height:30rem;
}

.article-card .shark-image{
    background-image: url('/images/sharks/GreatWhite.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    min-width: unset;
    width:70%;
    max-width:1800px;
    height:100%;
}

.article-card .info-bar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-weight: bold;
    height:100%;
    width:100%;
}

.article-card .info-bar-content{
    width: 25%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-card .info-bar-title {
    line-height: 1;
    font-size: larger;
    margin-bottom: 0.2rem;
    padding: 0;
    font:bolder;
    color: aqua;
}

.article-card .info-bar-subtitle {
    line-height: 1;
    font-size: smaller;
    margin: 0;
    padding: 0;
    margin-bottom:2rem ;
    font:bolder;
    color: rgb(255, 255, 255);
    text-align: center;
}

@media (max-width: 768px) {
  .article-card {
    flex-direction: column;
    height: auto; /* Let content determine height */
  }

  .article-card .shark-image {
    width: 100%;
    height: 15rem;
  }

  .article-card .info-bar-title {
    font-size: 8px;
    margin-bottom: 0.1rem;
    }

  .article-card .info-bar-subtitle {
    font-size: 8px;
    margin-bottom:0.5rem ;
  }

}


.shark-description {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}


.shark-description textarea {
    width: 80%; /* Adjusts the width to fill the container */
    height: 15rem; /* Sets the height */
    font-size: 18px; /* Adjusts the text size */
    resize: vertical; /* Allows the user to resize the textarea vertically */
    padding: 10px; /#ccc; /* Adds a border */
    border-radius: 4px; /* Rounds the co* Adds padding inside the textarea */
    border: 1px solid rners */
}


.shark-description .shark-content{
    width: 60%;
    font-size: 20px;
}


.shark-description p{
    width:90%;
}

@media (max-width: 600px) {
    .shark-description,
    .shark-description .shark-content {
        font-size: 16px;
    }
}



.minimal-input {
    all: unset; /* Removes all default styling */
    font-size: small; /* Add your own style */
    color: rgb(248, 248, 248);    /* Text color */
    font-family: Arial, sans-serif; /* Optional: Font settings */
    margin-bottom: 1rem;
    text-align: center;
}

.minimal-input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Placeholder color */
    font-style: italic; /* Optional placeholder style */
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px){
    .minimal-input{
        font-size: 8px;
    }
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

