body, html {
    height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}

.target {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.shark-title {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    height: 500px;
    width: 100%; 
    color: white;
}

.create-structure {
    background-color: bisque;
    padding: 5rem 10rem;
}

container .right-bar{
    background-color: rgba(0, 0, 0, 0.3); /* Red color with 50% opacity */
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding:0.5rem;
    padding-right:5rem;
    
}

container .right-bar p {
    margin: 0;
    padding: 0;
    line-height: 1; /* Reduce line-height */
}

container .right-bar .title{
    color:aqua;
    font-weight: bolder;
    margin-bottom: 0.2rem;
}

container .right-bar .content{
    color:rgb(255, 255, 255);
    font-weight: bolder;
    margin-bottom: 2rem;
}


main {
    flex:1;
    height: 100vh;
}

a {
    color: aqua !important;
}

a:hover {
    color: rgb(255, 255, 255) !important;
}

.shark {
    color: rgb(3, 255, 255) !important;
}

.cover {
    background-image: url('/images/sharks/GreatWhite.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

.cover .shadow-text {
    color: white; /* Set the text color to white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add a shadow effect to the text */
    font-size: 3.5rem; /* Adjust the font size as needed */
}

.intro {
    color:black;
    font-weight: bolder;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.thumb .lnk {
    color:red !important;
    font-size: 100rem;
}

.page-container {
    background-color: rgb(255, 0, 0);
    max-width: 2000px;
    width: 100%;
    height: 200px;
}

